[Unit]
Description=Atom Repository Periodic Sync Timer
Requires=atom-sync.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
AccuracySec=1min
RandomizedDelaySec=30s

[Install]
WantedBy=timers.target
